@model Mando.Models.ViewModel.ListaMisionesVM


<h1>Lista de misiones</h1>
<form method="post">
    @if (Model.ListaMisionMV != null)
    {
        <select id="Mision" name="MisionSelect">
            @foreach (var ClsMision in Model.ListaMisionMV)
            {
                @if (ClsMision.Id == Model.Id)
                {
                    <option selected value="@ClsMision.Id">@ClsMision.Titulo</option>
                }
                else
                {
                <option value="@ClsMision.Id">@ClsMision.Titulo</option>
                }
            }
        </select>
        <button type="submit">Seleccionar</button>

        @if (Model.Id >0)
        {
            <p>Descripción @Model.Descripcion</p>
            <p>Recompensa @Model.Recompensa</p>
        }
        //AQUI DEBERIA VER SI HA RECOGIDO UN ID Y MOSTRAR LA INFORMACION DE LA MISIOn

    }
    else if (Model.ListaMisionMV == null)
    {
        <p>No es hora de trabajar Mandaloriano</p>
    }
    else
    {
        <p>No hay más misiones</p>
    }
</form>


