@model bool?

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Buenos días</h1>
    <br />
    <form method="post" action="/Home/Index2">
        <button type="submit">Conectar con la base de datos</button>
    </form>
    <br />
    <p>@ViewBag.Conexion</p>
    <tbody>
        @foreach (Persona persona in Model)
        {
            <tr>
                <td>@persona.Id</td>
                <td>@persona.Nombre</td>
                <td>@persona.Apellido</td>
                <td>@persona.FechaNac</td>
                <td>@persona.Edad</td>
            </tr>
        }
    </tbody>
</div>

</table>