@using ENT;
@model List<ClsPersona>

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Buenos días</h1>
    <br />
    <form method="post" action="/Home/Index2">
        <button type="submit">Conectar con la base de datos</button>
    </form>
    <br />
    <p>@ViewBag.Conexion</p>

    @if (Model!=null)
    {
        @foreach (ClsPersona persona in Model)
        {
            <ul>
                <p> ID @persona.Id</p>
                <li>Nombre @persona.Nombre</li>
                <li>Apellidos @persona.Apellidos</li>
                <li>Telefono @persona.Telefono</li>
                <li>Direccion @persona.Direccion</li>
                <li>Foto @persona.Foto</li>
                <li>Fecha Nacimiento @persona.FechaNacimiento</li>
                <li>IDDepartamento @persona.IDDepartamento</li>
                <hr />
            </ul>
        }
     }
</div>